.jumbotron.myHeader {
    margin-bottom: 0px;    
    background-image: url('../images/movies.jpg');    
    background-size: cover;
    background-repeat: no-repeat;
    
}
h1.with-background.black {
    background-color:rgba(0, 0, 0, 0.5);
    padding: 45px;
    width: 600px;
    margin: auto;
    color: white;
    text-align: center; 
    font-family: 'Nunito', sans-serif;
    font-size: 80px;
}

.row.search {
    margin-top: 40px;
}
.row.movieGrid{
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    padding-top: 40px;  
    position: absolute;
}
.panel-footer{
    font-size: 16px;
}
body.with-background.black{
    background-color:rgba(0, 0, 0, 0.1);
}
.modal-header {
  position: relative;
  z-index: 5;
  padding: 20px;
  color: white;
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
}
.modal-header::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../images/movies.jpg');
    opacity: .4;
}
.modal-footer {
    background: url('../images/moviesLower.jpg');
    opacity: .4;
}